/*=========================
	All css
==========================*/
@import url("bootstrap.min.css");
@import url("font-awesome.min.css");
@import url("flaticon.css");
@import url("themify-icons.css");
@import url("owl.carousel.css");
@import url("bootstrap-select.min.css");
@import url("magnific-popup.css");
@import url("scrollbar.css");
@import url("switcher.css");

/*=========================
	All css
==========================*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900|Roboto+Slab:100,300,400,700');

/*
font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'PT Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
*/